   # Игнорировать все файлы с расширением .log
   *.log

   # Игнорировать временные файлы
   *.tmp

   # Игнорировать папку temp
   *.temp/

   # Игнорировать файлы конфигурации среды
   .env

   # Игнорировать папку с результатами парсинга сайта
   *.COMCENTER.ru_database/